<footer class="Footer">
  <p class="Footer-Left">© @Year NeoN Origins - All rights reserved</p>
  <ul class="Footer-Right">
    <li><NavLink class="Footer-Navigation-Button" href="/CoffeeTime">Coffe Time</NavLink></li>
    <li><a class="Footer-Navigation-Button" href="https://www.neonorigins.com" target="_blank">NeoN Origins</a></li>
    <li><a class="Footer-Navigation-Button" href="https://github.com/BAStudio" target="_blank">Github</a></li>
    <li><a class="Footer-Navigation-Button" href="https://vimeo.com/user197365592" target="_blank">Vimeo</a></li>
    <li><a class="Footer-Navigation-Button" href="https://www.linkedin.com/company/neon-origins/" target="_blank">LinkedIn</a></li>
  </ul>
</footer>

@code {
  private int Year = DateTime.Now.Year;
}