<header>
  <nav class="Header-Navigation">
    <ul class="Header-Navigation-Left">
      <li><NavLink><img src="" alt="Neon Origins Logo" /></NavLink></li>
      <li><NavLink class="Header-Navigation-Button" href="/" Match="NavLinkMatch.All">Home</NavLink></li>
      <li><NavLink class="Header-Navigation-Button" href="/SurvivalGuide" Match="NavLinkMatch.All">Survival Guide</NavLink></li>
    </ul>
    <ul class="Header-Navigation-Center">
      <li>
        <form action="/Search_Engine.php">
          <input type="text" id="SearchText" name="SearchText" alt="Search..." />
        </form>
      </li>
    </ul>
    <ul class="Header-Navigation-Right">
      <li><NavLink class="Header-Navigation-Button" href="/Documentation" Match="NavLinkMatch.All">Documentation</NavLink></li>
      <li><NavLink class="Header-Navigation-Button" href="/Conventions" Match="NavLinkMatch.All">Conventions</NavLink></li>
      <li><NavLink class="Header-Navigation-Button" href="/Files" Match="NavLinkMatch.All">Files</NavLink></li>
      <li><a class="Header-Navigation-Button" href="https://github.com/BAStudio">Github</a></li>
    </ul>
  </nav>
</header>

@code {

}
