@page "/navbar"
<h3>@NavBarTitleText</h3>

@if (NavBarContent != null || NavBarContent.Count != 0)
{
  @foreach (var mainPage in NavBarContent.Keys)
  {
    <NavBarComponent PageName="@mainPage" Subpages="@NavBarContent[mainPage]" />
  }
}
else
{
  <p>No content available for the navigation bar.</p>
}


@code {
  [Parameter] public string NavBarTitleText { get; set; } = "NeoNDocs";
  [Parameter]
  public Dictionary<string, List<string>>? NavBarContent { get; set; }
      = new Dictionary<string, List<string>>()
      {
        { "Home", new List<string>() { "Introduction", "Getting Started" } },
        { "Components", new List<string>() { "Button", "Input", "Card" } },
        { "Utilities", new List<string>() { "Helpers", "Extensions" } }
      };
}