.NavBar {
  position: sticky;
  display: flex;
  margin: 20px;
  padding: 15px;
  width: 12vw;
  height: 90vh;
  border-radius: 30px;
  background-color: var(--Forground-Color);
  flex-direction: column;
  align-items: flex-start;
}

::deep input.SearchBar {
  width: 83%;
  margin-bottom: 20px;
  height: 50px;
  align-self: center;
  border-radius: 30px;  
}
