.Home-Content {
  width: 100%;
  height: 600px;
  min-height: 400px;
  display:flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.Home-Content-VerticleLine {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100vh;
  overflow:clip;
  width: 2px;
  background-color: var(--Border-Color);
  z-index: -1;
}
.Home-Content-Container{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.Home-Content-Left,
.Home-Content-Right {
  list-style: none;
  padding: 40px;
}

.Home-Content-Left {
  text-align: right;
}

.Home-Content-Right {
  text-align: left;
}

.Home-Content-Left li,
.Home-Content-Right li {
  margin-top: 50px
}
