@page "/"

<PageTitle>Home</PageTitle>

<div class="Home-Content">
  <ul class="Home-Content-Left">
    <li><h1>Survival Guide</h1></li>
    <li><h1>Documentation</h1></li>
    <li><h1>Conventions</h1></li>
  </ul>
  <div class="Home-Content-Center" />
  <ul class="Home-Content-Right">
    <li><NavLink class="Call-To-Action" href="/SurvivalGuide">Survival Guide</NavLink></li>
    <li><NavLink class="Call-To-Action" href="/Documentation">Documentation</NavLink></li>
    <li><NavLink class="Call-To-Action" href="/Conventions">Conventions</NavLink></li>
  </ul>
</div>
