@page "/sg/{Section}"
@inject NeoNDocs.Json.LoadRequestedJson JsonLoader;

<PageTitle>@Section</PageTitle>

@if (sectionContent != null)
{
  <p>@sectionContent[0]</p>
}
else {
  <p>Loading...</p>
}





@code {
  [Parameter] public string? Section { get; set; }
  private List<string>? sectionContent;

  protected override async Task OnInitializedAsync()
  {
    sectionContent = await JsonLoader.LoadSectionsAsync("Json/SGSection.json", Section);
  }
}
